@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "SCP";
  src: local("SCP"),
  url("./Fonts/SourceCodePro.ttf") format("truetype");
}
@font-face {
  font-family: "SCP-italic";
  src: local("SCP-italic"),
  url("./Fonts/SourceCodePro-Italic.ttf") format("truetype");
}

.scp-font {
  font-family: "SCP";
}

.scp-font-italic {
  font-family: "SCP-italic";
}